@page "/"

<!--Add new task-->
<div class="input-group mb-3">
    <input id="text" @ref="textInput" type="text" class="form-control" placeholder="Add new task"
           @bind-value="newAssignmentText" @bind-value:event="oninput"
           @onkeyup="KeyboardEventHandler">
    <div class="input-group-append">
        <button type="submit" class="btn btn-success"
                @onclick="@(() => AddNewAssignment())" disabled="@(inputIsValid == false)"
                @onkeyup="KeyboardEventHandler">
            Add
        </button>
    </div>
</div>

<!--Tasks-->
@if (Assignments is null)
{
    <p><em>Loading...</em></p>
}
else if (Assignments.Any() == false)
{
    <p><em>All done :)</em></p>
}
else
{
    <!--List of tasks-->
    <ul style="padding-left: 0px;">
        @foreach (var item in Assignments)
        {
            if (item != null && (hideFinishedTasks == true && item.Status == "done") == false)
            {
                <li style="list-style-type:none; padding-bottom:2px;" @key="item.AssignmentId" tabindex="1">
                    <AssignmentComponent Asgnt="item"
                                         OnRemove="@(()=> RemoveAssignment(item))" OnUpdate="@(()=> UpdateAssignment(item))" />
                </li>
            }
        }
    </ul>

    <!--Option to hide tasks marked as 'done'-->
<div class="input-group mb-3" hidden="@(Assignments.Any(x => x.Status == "done") == false)">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="checkbox" @bind-value="hideFinishedTasks">
        </div>
    </div>
    <input type="text" class="form-control border-left-0" value="Hide finished tasks" disabled="disabled">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary border" type="button" @onclick="RemoveAllFinishedTasks">Remove all finished tasks</button>
    </div>
</div>
}

